.btn {
  display: block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;

  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  color: var(--white);
  background-color: var(--dark-grey);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-blue);
  color: var(--light-grey);
}
