.wrapper {
  padding: 20px 0;
  background-color: var(--accent-blue);
}
.input {
  background-color: var(--light-grey);
  border: 1px solid transparent;
  background-color: var(--light-grey);
  padding: 10px 40px;
  width: 400px;
  margin: 0 auto;
  transition: border 250ms ease-in-out;
}
.input:focus {
  border: 1px solid var(--dark-grey);
}
